.notification {
  z-index: 10;
  padding-top: 50px;
  .notice {
    background-color: #6495ed;
    color: $mainWhite;
    text-align: center;
  }
  .error {
    background-color: orange;
    color: $mainWhite;
    text-align: center;
  }
}