.wrapper {
  background-color: $lightGray;
}
.contents {
  color: $lightBlack;
  width: 700px;
  min-height: 100vh;
  margin: 0 auto;
  padding-top: 50px;
}

// 新規post
.new-post-field {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: $mainWhite;
  width: 100%;
  min-height: 350px;
  padding-top: 20px;
  &__picture {
    height: 200px;
    &--display {
      width:150px;
      height: 150px;
      border: solid 1px $lightBlack;
      margin-top: 10px;
    }
    &--display p {
      line-height: 150px;
      text-align: center;
    }
    &--choose {
      display: block;
      color: $lightBlack;
      text-align: center;
    }
    &--choose:hover {
      text-decoration: underline;
    }
  }
  &__text {
    width:400px;
    height: 200px;
    border: solid 1px $lightBlack;
    border-radius: 30px;
    margin-left: 40px;
  }
  &__text p {
    padding : 10px; 
  }
  &__btn {
    width: 100%;
    .post-btn {
      background-color: $mainBlue;
      color: $mainWhite;
      width: 200px;
      height: 40px;
      margin: 0 auto;
      text-align: center;
      line-height: 40px;
      border-radius:40px;
      border: solid 1px $lightBlack;
    }
  }
}
