=form_for @post, html: {class:"post-field"} do |f| 
  = render 'layouts/error_messages', model: f.object 
  .post-field__picture
    = f.label :picture do
      #img_field
        %pre 
          :preserve 
            クリックしてファイルをUP
      = f.file_field :picture, class:"picture-file"
  = f.text_area :text, wrap: "hard", class:"post-field__text", placeholder: "comment",required: :true
  .post-field__btn
    =f.submit "post",class: "post-btn" 