=form_for @post, html: {class:"new-post-field"} do |f| 
  .new-post-field__picture
    = f.label :picture, class: "new-post-field__picture--display" do
      %pre 
        :preserve 
          クリックしてファイルをUP
      = f.file_field :picture, class:"picture-file"
  = f.text_area :text, wrap: "hard", class:"new-post-field__text", placeholder: "comment"
  .new-post-field__btn
    =f.submit "post",class: "post-btn" 